.header__logo {
    object-position: left;
    object-fit: contain;
    width: 145px;
    height: 33px;
    padding-bottom: 36px;
}

@media screen and (max-width: 340px) {
    .header__logo {
        margin-top: 28px;
        margin-left: 28px;
        width: 104px;
        height: 24px;
        padding-bottom: 27px;
    }

}