.element__image {
    object-fit: cover;
    max-width: 282px;
    max-height: 282px;
    min-height: 282px;
    cursor: pointer;
}

@media screen and (max-width: 917px) {
    .element__image {
        max-width: 330px;
        width: 100%;
    }

}

@media screen and (max-width: 340px) {
    .element__image {
        max-width: 282px;
    }

}